.BtnLightMode {
	background-color: white;
	border: 1px solid black;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
}

.BtnDarkMode {
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}
